.Profile {
    display: flex;
    padding: 30px;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    gap: 15px;
    max-width: 600px;
    width: 100%;
    border: 1px solid #0973f71a;
    border-radius: 15px;
    background-color: #f8fcff;
    -webkit-box-shadow: -1px 1px 7px 0px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: -1px 1px 7px 0px rgba(34, 60, 80, 0.2);
    box-shadow: -1px 1px 7px 0px rgba(34, 60, 80, 0.2);
}

.description {
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.actions {
    display: flex;
    flex-direction: column;
    gap: 3px;
    width: 100%;
    max-width: 200px;
    text-align: center;
}

.friendRequest {
    font-size: 15px;
    font-style: italic;
    height: 32px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.actionBtn {
    color: #3e5a85;
    background-color: transparent;
    font-style:normal;
    width: 100%;
}

.photoCarousel {
    max-width: 300px;
    width: 100%;
    text-align: center;
}