.Profile {
    display: flex;
    padding: 20px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
}

.avatar {
    border-radius: 5px;
}

.description {
    text-align: center;
}

