.Profile {
    display: flex;
    padding: 20px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 15px;
    max-width: 400px;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.photo {
    border-radius: 5px;
    max-height: 200px;
}

.description {
    text-align: center;
}

.profileLoader {
    text-align: center;
    padding: 30px;
   }

.actions {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 200px;
    text-align: center;
}