.Users {
    display: flex;
    gap: 25px;
    flex-wrap: wrap;
}

.userCardLink {
    text-decoration: none;
}

.usersLoader {
    text-align: center;
    padding: 30px;
}


@media (max-width: 570px) {
    .Users {
        justify-content: center;
        padding: 0px 30px;
    }
}