.Users {
    display: flex;
    gap: 25px;
    flex-wrap: wrap;
}

.userCardLink {
    text-decoration: none;
}

.usersLoader {
    text-align: center;
    padding: 30px;
}


@media (max-width: 500px) {
    .Users {
        justify-content: center;
    }
}