.Header {
    width: 100%;
    height: 50px;
    background-color: rgb(235, 235, 235);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

.content {
    max-width: 1024px;
    width: 100%;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.content a {
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    transition: color 0.3s;
    color: #575757;
}

.content a:hover {
    color:#4096ff;
}

.content a.active {
    color:#4096ff;
    font-weight: bold;
}

.logOutBtn {
    font-size: 16px;
    font-weight: 600;
    padding: 3px;
    margin-left: auto;
}
