.Header {
    width: 100%;
    height: 50px;
    background-color: rgb(235, 235, 235);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

.content {
    max-width: 1076px;
    width: 100%;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.content a {
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    transition: color 0.3s;
    color: rgb(85, 84, 84);
}

.content a:hover {
    color:rgb(0, 0, 0);
}

.content a.active {
    color: rgb(0, 0, 0);
}

.logOutBtn {
    font-size: 16px;
    font-weight: 600;
    padding: 3px;
}

