.Navbar {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.Navbar a {   
    color:#575757;
    text-decoration: none;
}
  
.Navbar a.active {
    color: #4096ff;
    font-weight: bold;
}

@media (max-width: 500px) {
    .Navbar {
    word-wrap:break-word;

 }
}