.PhotoCarousel {
  width: 100%;
  max-width: 300px;
  height: 225px;
  background-color: rgba(141, 160, 179, 0.452);
  color: rgb(0, 0, 0);
  border-radius: 5px;
  overflow: hidden;
}

.photo {
  max-height: 200px;
}
