.App {
  min-height: 100vh;
}

.container {
  display: flex; 
  width: 100%;
  max-width: 1024px;
  margin: 0 auto;
}

.content {
  padding: 30px;
  display: flex;
  width: 100%;
}

.sidebar {
  display: flex;
  padding: 30px;
  width: 200px;

}



@media (max-width: 500px) {
  .content {
    padding: 0px 10px;
}
}