.App {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.container {
  display: flex; 
  width: 100%;
  justify-content: center;
  height: calc(100vh - 50px);
  background-color: #e2eaf333;
}

.content {
  padding: 30px 50px;
  display: flex;
  width: 100%;
  max-width: 1024px;
  border: 2px solid #a3b8f12e;
  border-top: none;
  border-bottom: none;
  -webkit-box-shadow: 0px 4px 16px -3px rgba(34, 60, 80, 0.2);
  -moz-box-shadow: 0px 4px 16px -3px rgba(34, 60, 80, 0.2);
  box-shadow: 0px 4px 16px -3px rgba(34, 60, 80, 0.2);
}

.sidebar {
  display: flex;
  padding: 30px;
  width: 200px;

}

@media (max-width: 500px) {
  .content {
    padding: 10px 10px;
}
}